common --experimental_enable_bzlmod

build --enable_runfiles

build --remote_timeout=3600

build --host_platform=@buildbuddy_toolchain//:platform_linux
build --platforms=@buildbuddy_toolchain//:platform_linux
build --extra_execution_platforms=@buildbuddy_toolchain//:platform_linux

# build --experimental_remote_cache_compression
# build --jobs=50
build --cpu=k8
build --host_cpu=k8
build --strategy=remote,local
build --define=EXECUTOR=remote
